
<nav id="navbar-wrapper">
  <ul class="navbar-nav">
      <li class="navbar-nav-item">
          <a class="js-scroll-trigger" href="#about">About us</a>
      </li>
      <li class="navbar-nav-item">
          <a class="js-scroll-trigger" href="#services">Services</a>
      </li>
      <li class="navbar-nav-item">
          <a class="js-scroll-trigger" href="traducteurs">Traducteurs</a>
      </li>
      <li class="navbar-nav-item">
          <a class="js-scroll-trigger" href="#témoignages">Témoignages</a>
      </li>
      <li class="navbar-nav-item">
          <a class="js-scroll-trigger" href="#partenaires">Partenaires</a>
      </li>
    </ul>
</nav>


   <ul class="flex-container">
    <li class="container">
      <div class="flex-item">About us<%= image_tag ("homebackground.jpg"), class:"cart" %> 
          <div class="centered"><p class="line-1 anim-typewriter" >Animation typewriter style using css steps()</p></div>
      </div></li>
      <li class="flex-item">Services</li>
      <li class="flex-item">Traducteurs</li>
      <li class="flex-item">Témoignages</li>
      <li class="flex-item">Partenaires</li>
  </ul>