


<ul class="flex-container">
  <%= image_tag ("homebackground.jpg") %>
  <li class="flex-item">2</li>
  <li class="flex-item">3</li>
  <li class="flex-item">4</li>
  <li class="flex-item">5</li>
</ul>