
footer {
   background-color: #333;
   font-family: Gill Sans, sans-serif;
   position: fixed;
   left: 0;
   bottom: 0;
   width: 100%;
   height: 8%;
   text-align: right;
}


.default_color {
	color: white;
	margin-right: 30px;
	text: none;

}