<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<div class="header">
<div class="navbar">
  <a class="logo">Transl-ID</a>
  <div class="header-right">
    <%= link_to "Home", root_path %>
    <%= link_to "Traducteurs", root_path %>
      <button type="button" class="button-sign">Mon compte</button>
  </div>
</div>
</div>




